body{
	font-family: 'Roboto Slab', serif;
	background-color: #663399;
	background-image: url("../images/hgbackground2.jpg")
}

.container{
	height: auto;
	width: auto;
	position: relative;
	top: 50%;
    left: auto;
    right: auto;
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border: 1px solid #08038C;
	box-shadow: 0 0 8px 3px #fff;
}

.title{
	padding-top: 20px;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	color: #800080;
}

.question{
	padding: 20px;
	font-size: 22px;
	background: #F4A460;
	border-radius: 20px;
	margin: 10px 0 10px 0;
	color: #f6f6f6;
}

.option{
	width: 100%;
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.5);
	margin: 10px 0 10px 10px;
	color: #000000;
	border-radius: 20px;
}

.option:hover{
	background: #08038C;
	color: #f6f6f6;
}

.next-btn{
	border: none;
	outline: none;
	background: #800080;
	width: 100px;
	height: auto;
	border-radius: 20px;
	cursor: pointer;
    margin: auto;
    color: #f6f6f6;
    display: block;
}

.next-btn:hover{
	background: #08038C;
	color: #f6f6f6;
}

.result{
	height: auto;
	text-align: center;
	font-size: 75px;
}

.option input:checked .option{
	background: #08038C;
	color: #000;
}